<div class="profile-card">
    <div class="profile-img">
        <img src="../assets/profile.png" alt="Malini">
    </div>
    
    <h2 class="profile-name">Malini Madhavan</h2>
    
    <p class="profile-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fugit reprehenderit placeat quis ab consectetur tempore, provident voluptatum vero laudantium.</p>
    <div class="social-icons">
        <i class="far fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="far fa-envelope" ></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
</div>
