<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Engineer Portfolio</title>
    
</head>
<body>

    <!-- Navbar -->
    <app-nav-bar></app-nav-bar>
    

    <div class="container">
        <!-- Profile Card -->
        <app-profile-card></app-profile-card>

        <!-- Content Section -->
        <div class="content">
            <h1 class="title">SOFTWARE</h1>
            <h1 class="engineer">ENGINEER</h1>
            <p class="description">
                Passionate about creating intuitive and engaging user experiences. Specialize in transforming ideas into beautifully crafted products.
            </p>
            <div class="stats">
                <div class="stat"><span>+3</span> <br> YEARS OF <br>EXPERIENCE</div>
                <div class="stat"><span>+46</span> <br> PROJECTS <br>COMPLETED</div>
                <div class="stat"><span>+20</span> <br> WORLDWIDE <br>CLIENTS</div>
            </div>

            <!-- Services -->
            <div class="services">
                <div class="service-card orange">
                    <p>Dynamic Animation, Motion Design</p>
                    <span>→</span>
                </div>
                <div class="service-card neon">
                    <p>Framer, Figma, WordPress, ReactJS</p>
                    <span>→</span>
                </div>
            </div>
            <br>
            <br>

            <!-- Work Experience-->
            <app-work-experience></app-work-experience>
            <!--Education-->
            <app-education></app-education>
        </div>
    </div>
    
</body>

</html>



