<div class="experience-section">
    <h1 class="title">WORK</h1>
    <h1 class="engineer">EXPERIENCE</h1>
  
    <div class="experience-list">
      <div class="experience-card" *ngFor="let exp of experiences">
        <div class="experience-info">
          <h2 class="company">{{ exp.company }}</h2>
          <p class="description">{{ exp.role }}</p>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque sunt odit sapiente officia voluptatem consectetur! Beatae enim autem reprehenderit architecto.</p>
          <p class="duration">{{ exp.duration }}</p>
        </div>
      </div>
    </div>
  </div>
  